<div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="nav-logo" href="index.html">
                <img src="/assets/nav-light-logo.svg" width="200" height="60">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <% if (current_user) %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <a href="/message">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>

                    <!-- User -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="<%= current_user.photo_url %>" alt="<%= current_user.username %>" class="img-circle" width="40"> <%= current_user.display_name %> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="backbone" href="/users/<%= current_user.username %>"><i class="fa fa-fw icon-user-1"></i>Profile</a>
                            </li>
                            <li><a class="backbone" href="user-private-messages.html"><i class="fa fa-fw icon-comment-fill-1"></i>Messages</a>
                            </li>
                            <li>
                                <%= link_to(destroy_user_session_path, :method => :delete) do %>
                                    <i class="fa fa-fw icon-unlock-fill"></i>Logout
                                <% end %>
                            </li>
                        </ul>
                    </li>
                </ul>
            <% else %>
                <a class="btn btn-default btn-login navbar-right" href="/login">Login</a>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control nav-search" placeholder="Search places, guide, people..">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </ul>
        </div>
    </div>
</div>
<div id="notification" class="flash-notification">
</div>
