<% title 'Register' %>

<div class="container" id="devise-wrapper">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
             <h2 class="login-text">Sign up for VacayBug</h2>
             <p class="login-subtext">Adventure Starts Here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <% if resource.errors.full_messages.count > 0 %>
                <h5>Please check following errors:</h5>
                <div class="row">
                    <ul>
                        <%= raw resource.errors.full_messages.select { |msg| !msg.starts_with?("Username") }.map { |msg| content_tag(:li, msg) }.join %>
                    </ul>
                </div>
            <% end %>
            <div class="row">
                <div class="col-sm-4">
                    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-primary btn-block' %>
                </div>
                <div class="col-sm-4">
                    <%= link_to "Twitter", user_omniauth_authorize_path(:twitter), :class => 'btn btn-info btn-block' %>
                </div>
                <div class="col-sm-4">
                    <%= link_to "Google+", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-danger btn-block' %>
                </div>
            </div>
            <hr>
            <h5 class="text-center">Or you can sign up with email</h5>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => 'form-horizontal') do |f| %>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <%= f.text_field :first_name, :autofocus => true, :class => 'form-control', :placeholder => 'First Name' %>
                   </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <%= f.text_field :last_name, :autofocus => true, :class => 'form-control', :placeholder => 'Last Name' %>
                   </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
                   </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
                   </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm Password' %>
                   </div>
                </div>
                <p class="terms">By clicking "Create My Account," you are agreeing to the <a href="/terms">Terms of Service</a> above and the <a href="/privacy">Privacy Policy</a>. You'll also receive email updates about your account, sent to you by VacayBug. You can opt out in Account Settings.</p>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <%= f.submit "Create My Account", :class => 'btn btn-primary btn-block' %>
                        </div>
                    </div>
                </div>
             <% end %>
            <h5 class="text-center">Already have an account? <a href="/login">Log in here!</a></h5>
        </div>
    </div>
</div>
