<head>
    <%= render "generic/header" %>
    <title>Vacaybug</title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag("application") %>

    <!-- Javascripts -->
    <%= javascript_include_tag("application") %>

</head>
<body>
    <%= render 'generic/navigation.html.erb' %>

    <div class="container" id="wrapper">
    </div>

    <%= render "generic/footer" %>
</body>
