<!DOCTYPE html>
<head>
    <title>Vacaybug</title>
    <%= stylesheet_link_tag("application") %>
    <%= javascript_include_tag("application") %>
    <%= render "generic/header" %>
    <script type="text/javascript">
    	$(document).ready(function() {
    		Vacaybug.start();
    	});
    </script>
</head>
<body>
    <%= render 'generic/navigation.html.erb' %>

    <div id="wrapper">
    </div>

    <%= render "generic/footer" %>
</body>
