<head>
    <%= render "generic/header" %>
    <title>Vacaybug</title>

    <!-- Stylesheets -->
<!--     <%= stylesheet_link_tag "hackerrank_libraries", :media => "all" %>
    <%= stylesheet_link_tag("hackerrank-core", :media => "all") %>
    <%= stylesheet_link_tag("dashboard", :media => "all") %> -->

    <!-- Javascripts -->
<!--     <%= javascript_include_tag("hackerrank_libraries") %>
    <%= javascript_include_tag("codeshell/dist/codeshell.js") %> -->
    <%= javascript_include_tag("application") %>

</head>
<body>

    <div id="wrapper">
        <div id="content" class="main_content"></div>
    </div>

    <%= render "generic/footer" %>
</body>
