<head>
    <title>Vacaybug - <%= yield :title %></title>
    <%= stylesheet_link_tag("application") %>
    <%= javascript_include_tag("application") %>
    <%= render "generic/header" %>
</head>
<body>
    <%= render 'generic/navigation.html.erb' %>

    <div class="container" id="wrapper">
    </div>

    <%= render "generic/footer" %>
</body>
