<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home | VacayBug</title>
        <%= render 'generic/home_header' %>
    </head>
    <body id="page-top" class="index">
        <%= render 'generic/home_navigation' %>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Let Your Trip Tell a Story</div>
                    <div class="intro-subheading">Explore, build and share itineraries from locals like you.</div>
                    <a href="#about" id="page-scroll" class="btn btn-xl">Find out how</a>
                </div>
            </div>
            <div class="container" id="testimonial">
                <div class="row">
                    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="col-lg-2 col-lg-offset-2 text-center">
                                    <img src="/assets/landing/testimonial1.jpg" class="img-circle" height="150">
                                </div>
                                <div class="col-lg-6">
                                    <h3 class="section-heading"><span class="quote">" </span>While I was in Europe, I managed to find all of the best local attractions because I was able to tap into itineraries from locals.<span class="quote"> "</span></h3>
                                    <h3 class="section-author">Connie Hsieh</h3>
                                    <a href="http://www.vacaybug.com/conniehsieh" class="section-profile">www.vacaybug.com/conniehsieh</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-2 col-lg-offset-2 text-center">
                                    <img src="/assets/landing/testimonial2.jpg" class="img-circle" height="150">
                                </div>
                                <div class="col-lg-6">
                                    <h3 class="section-heading"><span class="quote">" </span>I was able to find Laduree from an existing VacayBug itinerary. If it hadn’t been for VacayBug, I would have missed out on visiting one of the best macaroon shops in the world.<span class="quote"> "</span></h3>
                                    <h3 class="section-author">Laura Nolting</h3>
                                    <a href="http://www.vacaybug.com/lauranolting" class="section-profile">www.vacaybug.com/lauranolting</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-2 col-lg-offset-2 text-center">
                                    <img src="/assets/landing/testimonial3.jpg" class="img-circle" height="150">
                                </div>
                                <div class="col-lg-6">
                                    <h3 class="section-heading"><span class="quote">" </span>VacayBug is the perfect tool for social travelers because it provides you with tons of ideas on one-of-a-kind places to go while still being able to visit the main tourist attractions.<span class="quote"> "</span></h3>
                                    <h3 class="section-author">David Manetta</h3>
                                    <a href="http://www.vacaybug.com/davidmanetta" class="section-profile">http://www.vacaybug.com/davidmanetta</a>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#testimonial-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left fa fa-arrow-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#testimonial-carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right fa fa-arrow-right" aria-hidden="true"></span><span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>  
        </header>
        <!-- Overview Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Welcome to VacayBug</h2>
                        <h3 class="section-subheading text-muted">We are a social travel platform that makes travel easy and creative</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Build Section -->
        <section id="build">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/landing/section-build.png" class="overview-image img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h2 class="overview-heading">Build Itinerary</h2>
                        <hr class="overview-divider">
                        <h3 class="overview-subheading">Already done a bunch of traveling? Build an itinerary in your Passport to document your favorite spots from each trip for you to share with friends or to revisit later.</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Travel Section -->
        <section id="travel">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="overview-heading">Travel Like a Local</h2>
                        <hr class="overview-divider">
                        <h3 class="overview-subheading">Spend less time researching and more time getting the full experience on your next trip. Leverage other traveler's itinerary to avoid the touristy attractions and get an authentic experience.</h3>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/landing/section-travel.png" class="overview-image img-responsive">
                    </div>
                </div>
            </div>
        </section>
        <!-- Share Section -->
        <section id="share">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/landing/section-share.png" class="overview-image img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h2 class="overview-heading">Show Off Your Trip</h2>
                        <hr class="overview-divider">
                        <h3 class="overview-subheading">Choose to make your itinerary public to share with friends and other travelers like yourself by placing it in your passport. Your friends and family will be able to see all the places you visited!</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Sign Up Now!</h2>
                        <a href="/signup" class="btn btn-xl">Create a free account</a>
                    </div>
                </div>
            </div>
        </section>

        <%= render 'generic/footer' %>
        <%= render 'generic/home_modal_signin' %>
        <!-- Vacaybug -->
        <%= javascript_include_tag("application", :media => "all") %>
        <script type="text/javascript">
            $(document).ready(function(){
                function scroll_to(div){
                    $('html, body').animate({
                      scrollTop: $(div).offset().top
                    },1000);
                }
                $("#page-scroll").click(function(){
                    scroll_to("#about");
                    return false;
                });
            })
        </script>
    </body>
</html>
