<!DOCTYPE html>
<html>
<head>
    <%= render "generic/header" %>
    <title>Vacaybug | 404</title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag("application") %>

    <!-- Javascripts -->
    <%= javascript_include_tag("application") %>

</head>
<body>
    <%= render 'generic/navigation.html.erb' %>

    <div class="container-fluid error-container" id="wrapper">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <img src="/assets/error-cover.png" class="img-responsive">
            </div>
            <div class="col-md-5 col-sm-12 bubble">
                <h1 class="error-header">Whoops!</h1>
                <p class="error-content">We really want to help find the best trip possible! Please <a href="/signin">Sign in</a> to create an itinerary or <a href="/search">search</a> for an awesome itinerary that has already been created by someone else that also loves to travel.</p>
            </div>
        </div>
    </div>
    
    <%= render "generic/footer" %>
</body>
<html>