<!DOCTYPE html>
<html>
<head>
  <title>VacayBug | Follower</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'generic/header.html.erb' %>
</head>
<body>
	<%= render 'generic/navigation.html.erb' %>
	<%= render 'generic/navigation-sub.html.erb' %>
	
<div class="container">
        <div class="timeline row" data-toggle="gridalicious">
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            <img src="/assets/people/50/guy-5
.jpg" alt="people" class="media-object img-circle pull-left" />
                            <a href="#" class="btn btn-default btn-follow">Follow</a>
                            <div class="clearfix"></div>
                            <div class="media-body">
                                <a href="" class="username pull-left">Adrian D.</a>
                                <div class="clearfix"></div>
                                <div class="profile-icons">
                                    <a href="#" class="text-muted"><i class="fa fa-users"></i> 40 mutual friends</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            <img src="/assets/people/50/guy-5
.jpg" alt="people" class="media-object img-circle pull-left" />
                            <a href="#" class="btn btn-default btn-follow">Follow</a>
                            <div class="clearfix"></div>
                            <div class="media-body">
                                <a href="" class="username pull-left">Adrian D.</a>
                                <div class="clearfix"></div>
                                <div class="profile-icons">
                                    <a href="#" class="text-muted"><i class="fa fa-users"></i> 40 mutual friends</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            <img src="/assets/people/50/guy-5
.jpg" alt="people" class="media-object img-circle pull-left" />
                            <a href="#" class="btn btn-default btn-follow">Follow</a>
                            <div class="clearfix"></div>
                            <div class="media-body">
                                <a href="" class="username pull-left">Adrian D.</a>
                                <div class="clearfix"></div>
                                <div class="profile-icons">
                                    <a href="#" class="text-muted"><i class="fa fa-users"></i> 40 mutual friends</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            <img src="/assets/people/50/guy-5
.jpg" alt="people" class="media-object img-circle pull-left" />
                            <a href="#" class="btn btn-info btn-following">Following</a>
                            <div class="clearfix"></div>
                            <div class="media-body">
                                <a href="" class="username pull-left">Adrian D.</a>
                                <div class="clearfix"></div>
                                <div class="profile-icons">
                                    <a href="#" class="text-muted"><i class="fa fa-users"></i> 40 mutual friends</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            <img src="/assets/people/50/guy-5
.jpg" alt="people" class="media-object img-circle pull-left" />
                            <a href="#" class="btn btn-info btn-following">Following</a>
                            <div class="clearfix"></div>
                            <div class="media-body">
                                <a href="" class="username pull-left">Adrian D.</a>
                                <div class="clearfix"></div>
                                <div class="profile-icons">
                                    <a href="#" class="text-muted"><i class="fa fa-users"></i> 40 mutual friends</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            <img src="/assets/people/50/guy-5
.jpg" alt="people" class="media-object img-circle pull-left" />
                            <a href="#" class="btn btn-info btn-following">Following</a>
                            <div class="clearfix"></div>
                            <div class="media-body">
                                <a href="" class="username pull-left">Adrian D.</a>
                                <div class="clearfix"></div>
                                <div class="profile-icons">
                                    <a href="#" class="text-muted"><i class="fa fa-users"></i> 40 mutual friends</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
   	 
	<%= render 'generic/footer.html.erb' %>
</body>
</html>
