<!DOCTYPE html>
<html>
<head>
  <title>VacayBug | Guide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'generic/header.html.erb' %>
</head>
<body>
    <%= render 'generic/navigation.html.erb' %>

    <h1 class="city-guide-heading text-center">San Francisco</br><span>California</span></h1>
    <div class="container guide-map">
        <div class="row">
            <div class="col-md-3 col-md-offset-9 guide-description">
                <textarea placeholder="Create a purpose here...."></textarea>
                <a class="js-save" style="color:black"><i class="fa fa-check"></i> Save</a>
                <a class="js-cancel" style="color:black"><i class="fa fa-times"></i> Cancel</a>
                <hr>
                <button class="btn btn-danger btn-guide-delete">Delete Guide</button>
                <button class="btn btn-warning btn-guide-export">Export PDF</button>
            </div>
        </div>
    </div>
    <div class="container guide-container">
        <div class="row guide-searchbar">
            <div class="col-md-8 col-md-offset-2">
                <input type="text" class="form-control input-lg" placeholder="Search by landmark, restaurant, anything :)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="guide-item">
                    <div class="guide-caption">
                        <span class="pull-left number-icon">1</span>
                        <h4 class="text-center">Ferry Building</h4>
                    </div>
                    <a href="#">
                        <img src="/assets/guide/taiwan.jpg" alt="image" class="guide-img"/>
                    </a>
                    <div class="guide-caption">
                        <textarea placeholder="Create note here..."></textarea>
                    </div>
                    <hr>
                    <a href="#"><img src="/assets/guide/yelp.png" class="logo"></a>
                    <a href="#"><img src="/assets/guide/tripadvisor.png" class="logo"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="guide-item">
                    <div class="guide-caption">
                        <span class="pull-left number-icon">1</span>
                        <h4 class="text-center">Ferry Building</h4>
                    </div>
                    <a href="#">
                        <img src="/assets/guide/taiwan.jpg" alt="image" class="guide-img"/>
                    </a>
                    <div class="guide-caption">
                        <textarea placeholder="Create note here..."></textarea>
                    </div>
                    <hr>
                    <a href="#"><img src="/assets/guide/yelp.png" class="logo"></a>
                    <a href="#"><img src="/assets/guide/tripadvisor.png" class="logo"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="guide-item">
                    <div class="guide-caption">
                        <span class="pull-left number-icon">1</span>
                        <h4 class="text-center">Ferry Building</h4>
                    </div>
                    <a href="#">
                        <img src="/assets/guide/taiwan.jpg" alt="image" class="guide-img"/>
                    </a>
                    <div class="guide-caption">
                        <textarea placeholder="Create note here..."></textarea>
                    </div>
                    <hr>
                    <a href="#"><img src="/assets/guide/yelp.png" class="logo"></a>
                    <a href="#"><img src="/assets/guide/tripadvisor.png" class="logo"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="guide-item">
                    <div class="guide-caption">
                        <span class="pull-left number-icon">1</span>
                        <h4 class="text-center">Ferry Building</h4>
                    </div>
                    <a href="#">
                        <img src="/assets/guide/taiwan.jpg" alt="image" class="guide-img"/>
                    </a>
                    <div class="guide-caption">
                        <textarea placeholder="Create note here..."></textarea>
                    </div>
                    <hr>
                    <a href="#"><img src="/assets/guide/yelp.png" class="logo"></a>
                    <a href="#"><img src="/assets/guide/tripadvisor.png" class="logo"></a>
                </div>
            </div>
        </div>
    </div>
    <%= render 'generic/footer.html.erb' %>
</body>
</html>