<!DOCTYPE html>
<html>
<head>
  <title>VacayBug | Message</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'generic/header.html.erb' %>
</head>
<body>
	<%= render 'generic/navigation.html.erb' %>
	<%= render 'generic/navigation-sub.html.erb' %>

	<div class="container" id="message">
		<div class="media messages-container row">
			<div class="messages-list col-md-4">
				<div class="panel panel-default">
					<ul class="list-group">
					   <li class="list-group-item active">
					       <a href="#">
								<div class="media">
								   <div class="media-object pull-left">
								       <img src="/assets/people/110/woman-5.jpg" width="50" alt="" />
								   </div>
								   <div class="media-body col-md-9">
								       <span class="date">Today</span>
								       <span class="user">Mary D.</span>
								       <div class="message">Are we ok to meet...</div>
								   </div>
								</div>
					       </a>
					   </li>
					   <li class="list-group-item">
							<a href="#">
							  <div class="media">
							      <div class="media-object pull-left">
							          <img src="/assets/people/110/guy-3.jpg" height="50" alt="" />
							      </div>
							      <div class="media-body col-md-9">
							          <span class="date">Sat</span>
							          <span class="user">Adrian T.</span>
							          <div class="message">Looking forward to...</div>
							      </div>
							  </div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="message-content col-md-8">
				<div class="panel panel-default share">
					<div class="input-group">
					   <div class="input-group-btn">
					       <a class="btn btn-primary" href="#">
					           <i class="fa fa-envelope"></i> Send
					       </a>
					   </div>
					   <textarea class="form-control share-text" placeholder="Write message..." row=""></textarea>
					</div>
				</div>
				<div class="media row">
				  <div class="col-sm-2 col-xs-2">
				      <a href="#">
				          <img src="/assets/people/110/woman-5.jpg" alt="" />
				      </a>
				  </div>
					<div class="panel panel-default col-sm-10 col-xs-10">
					    <div class="panel-heading panel-heading-white">
					        <div class="pull-right">
					            <small class="text-muted">2 min ago</small>
					        </div>
					        <a href="#">Mary D.</a>
					    </div>
					    <div class="panel-body">
					        Hi Bill, Is it ok if we schedule the meeting tomorrow? Hi Bill, Is it ok if we schedule the meeting tomorrow?Hi Bill, Is it ok if we schedule the meeting tomorrow?Hi Bill, Is it ok if we schedule the meeting tomorrow?
					    </div>
					</div>
				</div>
				<div class="media row">
					<div class="col-sm-2 col-xs-2">
						<a href="#">
					  		<img src="/assets/people/110/guy-5.jpg" width="60" alt="" />
						</a>
					</div>
					<div class="panel panel-default col-sm-10 col-xs-10">
					    <div class="panel-heading panel-heading-white">
					        <div class="pull-right">
					            <small class="text-muted">10 min ago</small>
					        </div>
					        <a href="#">Me</a> 	
					    </div>
					    <div class="panel-body">
					        Are we still on for Today?
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<%= render 'generic/footer.html.erb' %>
</body>
</html>