<!DOCTYPE html>
<html>
<head>
  <title>VacayBug | Newsfeed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'generic/header.html.erb' %>
</head>
<body>
	<%= render 'generic/navigation.html.erb' %>
	<!-- Homepage Newfeed -->
    <div class="container" id="wrapper">
        <div class="newsfeed-container">
            <div class="timeline-block">
                <div class="panel panel-default newsfeed share">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/guy-5.jpg" width="50" class="media-object">
                            </a>
                            <div class="media-body">
                                <p class="newsfeed-status">What's new Charles?</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <textarea name="status" class="form-control share-text" rows="5" placeholder="Share your status..."></textarea>
                    </div>
                    <div class="panel-footer share-buttons">
                        <a href="#">
                            <i class="fa fa-link"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-photo"></i>
                        </a>
                        <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default newsfeed">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/guy-5.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <a href="" class="newsfeed-user">Khongor Enkhbold</a>
                                <span class="newsfeed-date">January 15th, 2014 at 4:57pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Just uploaded a guide - <a>Mongolia</a>
                    </div>
                    <a href="#"><img src="/assets/guide/mongolia.jpg" class="img-responsive"></a>
                    <div class="view-all-comments">
                        <a href="" class="text-muted" data-toggle="modal" data-target="#like"><i class="fa fa-heart"></i> 40</a>
                        <a href="" class="text-muted margin-left-25" data-toggle="modal" data-target="#comment"><i class="fa fa-comment"></i> 5</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-refresh"></i> 10</a>
                     </div>
                    <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <span class="comment-content">Wow</span>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default newsfeed">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/woman-5.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <a href="" class="newsfeed-user">Mary Jane</a>
                                <span class="newsfeed-date">January 15th, 2014 at 4:57pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Just uploaded a guide - <a>Rome</a>
                    </div>
                    <a href="#"><img src="/assets/guide/rome.jpg" class="img-responsive"></a>
                    <div class="view-all-comments">
                        <a href="" class="text-muted"><i class="fa fa-heart"></i> 40</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-comment"></i> 5</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-refresh"></i> 10</a>
                    </div>
                    <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/guy-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Khongor Enkhbold</a>
                                    <span>Awesome! I was just there last month!</span>
                                    <div class="comment-date">21st September</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <span>Really?! Did you upload your itinerary?</span>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/guy-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Khongor Enkhbold</a>
                                    <span>Yup I did, check out my passport</span>
                                    <div class="comment-date">14 min</div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default newsfeed">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/guy-2.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <a href="" class="newsfeed-user">Joe Smith</a>
                                <span class="newsfeed-date">January 15th, 2014 at 4:57pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>I'm going to San Francisco in September, any suggestions?</p>
                    </div>
                    <div class="view-all-comments">
                        <a href="" class="text-muted"><i class="fa fa-heart"></i> 40</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-comment"></i> 5</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-refresh"></i> 10</a>
                     </div>
                    <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <span>You should totally check out Golden Gate Bridge</span>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/guy-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Bill</a>
                                    <span>You should check out the SF guide in my profile</span>
                                    <div class="comment-date">14 min</div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default newsfeed">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/guy-5.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <a href="" class="newsfeed-user">Charles Hsieh</a>
                                <span class="newsfeed-date">January 15th, 2014 at 4:57pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Just updated a guide - <a href="#">Taiwan</a>
                    </div>
                    <a href="#"><img src="/assets/guide/taiwan.jpg" class="img-responsive"></a>
                    <div class="view-all-comments">
                        <a href="" class="text-muted"><i class="fa fa-heart"></i> 40</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-comment"></i> 5</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-refresh"></i> 10</a>
                     </div>
                     <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <span>Have fun!</span>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="timeline-block">
                <div class="panel panel-default newsfeed">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/woman-5.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <a href="" class="newsfeed-user">Mary Jane</a>
                                <span class="newsfeed-date">January 15th, 2014 at 4:57pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Just uploaded a guide - <a href="#">Cuba</a>
                    </div>
                    <img src="/assets/guide/cuba.jpg" class="img-responsive">
                    <div class="view-all-comments">
                        <a href="" class="text-muted"><i class="fa fa-heart"></i> 40</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-comment"></i> 5</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-refresh"></i> 10</a>
                    </div>
                    <ul class="comments">
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>            
            <div class="timeline-block">
                <div class="panel panel-default newsfeed">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="" class="pull-left">
                                <img src="/assets/people/50/guy-2.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <a href="" class="newsfeed-user">Joe Smith</a>
                                <span class="newsfeed-date">January 15th, 2014 at 4:57pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Only went to 10 out 25..time to get packing!</p>
                        <div class="boxed">
                            <a href="#" class="box-header margin-none">World's Best Places to Visit</a>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img src="http://static.travel.usnews.com/images/destinations/86/paris_edited_116x130.jpg" alt="" width="120" class="media-object"/>
                                </a>
                                <div class="media-body">
                                    <p class="box-content">To help you choose where to go on your next vacation, U.S. News compiled a list of worldwide destinations...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view-all-comments">
                        <a href="" class="text-muted"><i class="fa fa-heart"></i> 40</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-comment"></i> 5</a>
                        <a href="" class="text-muted margin-left-25"><i class="fa fa-refresh"></i> 10</a>
                    </div>
                    <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/guy-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Bill D.</a>
                                    <span>I only went to 3!</span>
                                    <div class="comment-date">21st September</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <span>Ha! I went to 15!</span>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Like & Comment Modal -->
    <div class="comment-modal modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="guideModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">5 comments on this post</h4>
                </div>
                <div class="modal-body">
                    <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/guy-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Bill D.</a>
                                    <span>I only went to 3!</span>
                                    <div class="comment-date">21st September</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <span>Ha! I went to 15!</span>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <input type="text" class="form-control" placeholder="Write a comment..." />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-modal modal fade" id="like" tabindex="-1" role="dialog" aria-labelledby="guideModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">People Who Like This Post</h4>
                </div>
                <div class="modal-body">
                    <ul class="comments">
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/guy-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Bill D.</a>
                                    <div class="comment-date">21st September</div>
                                </div>
                                <div class="clearfix"></div>
                                
                            </div>
                            <a href="#" class="btn btn-default btn-follow js-follow">Follow</a>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/assets/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="" class="comment-author">Mary</a>
                                    <div class="comment-date">2 days</div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-default btn-following js-follow">Following</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            //initialize
            $(".newsfeed-container").imagesLoaded(function(){
                $(".newsfeed-container").masonry({
                    itemSelector: '.timeline-block',
                    isFitWidth: true
                });
            });
        });
    </script>

	<%= render 'generic/footer.html.erb' %>
</body>
</html>