<!DOCTYPE html>
<html>
<head>
  <title>VacayBug | Search</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'generic/header.html.erb' %>
</head>
<body>
	<%= render 'generic/navigation.html.erb' %>
	<%= render 'generic/navigation-sub.html.erb' %>
	
	<div class="container search-container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2 class="search-header">Discover New Places, Travel Like Locals</h2>
				<div id="searchbox">
				  <input class="typeahead form-control" type="text" placeholder="Search a city or country">
				</div>
			</div>
		</div>
	</div>
	<div class="container search-content">
		<div class="panel panel-default">
      <div class="row">
				<div class="col-md-6 col-md-offset-3 text-center result-header">
				  <h2>Results for <strong>Rome</strong></h2>
				</div>
      </div>
      <div class="panel-body">
				<div class="row result-pin">
					<div class="col-md-3 col-md-offset-1">
						<ul class="nav nav-pills nav-stacked result-filter">
 							<li class="active"><a href="">Most Relevant</a></li>
 							<li><a href="">Most Recent</a></li>
 							<li><a href="">Most Views</a></li>
						</ul>
					</div>	
					<div class="col-md-7 result">
						<div class="panel panel-default">
							<div class="row">
								<div class="col-sm-2">
                  <a href="" class="pull-left">
                    <img class="avatar" src="/assets/people/50/guy-5.jpg">
                  </a>
								</div>
								<div class="col-sm-10">
									<div class="panel-heading">
										<a class="name" href="">Charles Hsieh</a>
                    <span class="date">2 days ago</span>
                    <p class="guide-title">Posted a guide: <a href="">Rome to remember</a></p>
									</div>
									<a href="#">
										<img src="/assets/guide/rome.jpg" alt="image" class="img-responsive" />
									</a>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="row">
								<div class="col-sm-2">
                  <a href="" class="pull-left">
                    <img class="avatar" src="/assets/people/50/guy-5.jpg">
                  </a>
								</div>
								<div class="col-sm-10">
									<div class="panel-heading">
										<a class="name" href="">Charles Hsieh</a>
                    <span class="date">2 days ago</span>
                    <p class="guide-title">Posted a guide: <a href="">Rome to remember</a></p>
									</div>
									<a href="#">
										<img src="/assets/guide/rome.jpg" alt="image" class="img-responsive" />
									</a>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="row">
								<div class="col-sm-2">
                  <a href="" class="pull-left">
                    <img class="avatar" src="/assets/people/50/guy-5.jpg">
                  </a>
								</div>
								<div class="col-sm-10">
									<div class="panel-heading">
										<a class="name" href="">Charles Hsieh</a>
                    <span class="date">2 days ago</span>
                    <p class="guide-title">Posted a guide: <a href="">Rome to remember</a></p>
									</div>
									<a href="#">
										<img src="/assets/guide/rome.jpg" alt="image" class="img-responsive" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>				

	<%= render 'generic/footer.html.erb' %>
</body>
</html>