<!DOCTYPE html>
<html>
<head>
	<%= render "generic/header" %>
	<title>Dashboard</title>

	<%= stylesheet_link_tag("application") %>
	<%= javascript_include_tag("application") %>

</head>
<body>
	<%= render 'generic/navigation.html.erb' %>
	<h1 class="text-center">VacayBug Dashboard</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills">
				  <li class="active"><a href="#totaluser" role="tab" data-toggle="tab">Total Users <span class="badge"><%= User.count %></span></a></li>
				  <li><a href="#totalguide" role="tab" data-toggle="tab">Total Guides <span class="badge"><%= Guide.count %></span></a></li>
				  <li><a href="#totalplace" role="tab" data-toggle="tab">Total Places <span class="badge"><%= Place.count %></span></a></li>
				  <li><a href="#totalcountry" role="tab" data-toggle="tab">Total Countries <span class="badge"><%= Guide.where(guide_type: Guide::TYPES::PASSPORT).count('country', distinct: true) %></span></a></li>
				  <li><a href="#totalmessage" role="tab" data-toggle="tab">Messages <span class="badge">-</span></a></li>
				</ul>
				<div class="tab-content">
                <div class="tab-pane fade active in" id="totaluser">
                	<div class="table-responsive">
	                	<table class="table table-bordered">
	                		<thead>
	                			<tr>
	                				<th></th>
	                				<th></th>
	                				<th>Sign Ups:</th>
	                				<th>Email <span class="badge">1</span></th>
	                				<th>Facebook <span class="badge">1</span></th>
	                				<th>Twitter <span class="badge">1</span></th>
	                				<th>Google <span class="badge">1</span></th>
	                				<th></th>
	                				<th></th>
	                			</tr>
	                		</thead>
	                		<thead>
	                			<tr>
	                				<th>Date</th>
	                				<th>First Name</th>
	                				<th>Last Name</th>
	                				<th>Email</th>
	                				<th>Username</th>
	                				<th>OAuth</th>
	                				<th># of Guides</th>
	                				<th># of Countries</th>
	                				<th># of Cities</th>
	                				<th># of Places</th>
	                			</tr>
	                		</thead>
	                		<tbody>
		                		<% @users.each do |user| %>
	                				<tr>
										<td><%= user.created_at.to_date %></td>
										<td><%= user.first_name %></td>
			                			<td><%= user.last_name %></td>
			                			<td><%= user.email %></td>
			                			<td><a target="_blank" href="/<%= user.username %>"><%= user.username %></a></td>
			                			<td><%= user.provider %></td>
			                			<td><%= user.guides.count %></td>
			                			<td><%= user.guides.where(guide_type: Guide::TYPES::PASSPORT).count('country', distinct: true) %></td>
			                			<td><%= user.guides.where(guide_type: Guide::TYPES::PASSPORT).count('geonames_id', distinct: true) %></td>
			                			<td><%= user.guides.joins(:places).count %></td>
                					</tr>
								<% end %>
	                		</tbody>
	                	</table>
	               </div>
                </div>
                <div class="tab-pane fade in" id="totalguide">
                		<h4>Total Number of Passports: <%= Guide.where(guide_type: Guide::TYPES::PASSPORT).count %></h4>
                		<h4>Total Number of Wishlists: <%= Guide.where(guide_type: Guide::TYPES::WISHLIST).count %></h4>
                		<h4>Total Number of Cities: <%= Guide.where(guide_type: Guide::TYPES::PASSPORT).count('geonames_id', distinct: true) %> </h4>
                		<h4>Total Number of Places: <%= Place.count %></h4>
                		<h4>Most popular city: </h4>
                		<ul>
                			<% @cities = City.select('gn_id, COUNT(g.geonames_id) as count').
								joins("join guides g on g.geonames_id=cities.gn_id").group('cities.gn_id').order('count desc').limit(10).
							    map { |c| City.find_by_gn_id(c.gn_id) } %>
							<% @cities.each do |city| %>
                				<li>
                					<a target="_blank" href="/search?id=<%= city.gn_id %>"><%= [city.city, city.region, city.country].select { |s| s != '' }.join(", ") %>
                					</a>
                					<span class="badge"><%= Guide.where(geonames_id: city.gn_id).count %></span>
                				</li>
							<% end %>
                		</ul>
                    <div class="timeline-block">
                    	<% ('A'..'Z').each do |group| %>
                    		<% if (@grouped_cities[group].count > 0) %>
	                    		<div class="guide-dashboard-item">
	                    			<h4><%= group %></h4>
	                    			<% @grouped_cities[group].each do |city| %>
                    					<p><a href="/search?id=<%= city.gn_id %>" target="_blank"><%= city.city %></a><span class="badge"><%= Guide.where(geonames_id: city.gn_id).count %></span></p>
	                    			<% end %>
	                    		</div>
                    		<% end %>
                    	<% end %>
                    </div>
                </div>
            </div>
			</div>
		</div>
	</div>
</body>
</html>
