<% title 'Login' %>
<div class="container sign-up">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="login-text">Log in to VacayBug</h2>
            <p class="login-subtext">Adventure Starts Here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <% if flash[:alert] %>
                <p class=""><%= flash[:alert] %></p>
            <% end %>
            <div class="row">
                <div class="col-sm-4">
                    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-primary btn-block' %>
                </div>
                <div class="col-sm-4">
                    <%= link_to "Twitter", user_omniauth_authorize_path(:twitter), :class => 'btn btn-info btn-block' %>
                </div>
                <div class="col-sm-4">
                    <%= link_to "Google+", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-danger btn-block' %>
                </div>
            </div>
            <hr>
            <h5 class="text-center">Or you can sign in with email</h5>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <%= f.check_box :remember_me %> Remember me
                    </div>
                    <div class="col-sm-6">
                        <!-- <a href="#" class="forgot-pwd pull-right">Forgot your password?</a> -->
                        <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'forgot-pwd pull-right' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <div><%= f.submit "Log In", :class => 'btn btn-primary btn-block' %></div>
                        </div>
                    </div>
                </div>
            <% end %>
            <h5 class="text-center">Don't have an account? <a href="/register">Join Now!</a></h5>
        </div>
    </div>
</div>
