<div class="panel panel-default">
    <div class="panel-body">
        <img src="<%= model.get('avatar').thumb %>" alt="<%= model.get('username') %>" class="user-img img-square"/>
        <div class="user-info">
            <a href="/<%= model.get('username') %>" class="username"><%= model.get('full_name') %></a>
            <a href="/<%= model.get('username') %>/followers" class="user-follower backbone"><%= model.get('followers_count') %> followers</a>
        </div>
        <% if (model.get('follows')) { %>
            <a href="javascript:void(0)" class="btn btn-info btn-following js-unfollow">Following</a>
        <% } else { %>
            <a href="javascript:void(0)" class="btn btn-default btn-follow js-follow">Follow</a>
        <% } %>
    </div>
</div>
