<div class="col-md-4 col-sm-6">
    <div class="guide-item">
        <div class="guide-caption" style="position: relative">
            <h4>
                <a class="backbone" href="<%= model.pageURL() %>"><%= _.escape(model.get('title')) %></a>
                <% if (model.get('user').id == Vacaybug.current_user.id && where == 'profile') { %>
                    <a class="js-delete-guide pull-right delete" data-id="<%= model.get('id') %>">&times;</a>
                <% } %>
            </h4>
        </div>
        <a href="javascript:void(0)" class="guide-link js-guide-item" data-id="<%= model.get('id') %>">
            <div class="guide-hover">
                <% if (model.get('user').id == Vacaybug.current_user.get('id')) { %>
                    <% if (model.get('guide_type') == '1') { %>
                        <span class="js-wishlist btn btn-warning">Move to Wishlist</span>
                    <% } else { %>
                        <span class="js-passport btn btn-warning">Move to Passport</span>
                    <% } %>
                <% } else { %>
                    <span class="js-save btn btn-warning">Add to Wishlist</span>
                <% } %>
                <!-- <span class="js-share btn btn-primary">Share</span> -->
                <div class="guide-hover-content">
                    <p>Quick View</p>
                </div>
            </div>
            <img src="/assets/default_guide.png" class="img-responsive" alt="">
        </a>
        <div class="guide-caption">
            <p class="guide-content"><%= _.escape(model.get('description')) %></p>
            <ul class="guide-socialMeta">
                <li><a href="javascript:void(0)" class="js-like text-muted"><i class="fa fa-heart"></i> <%= story.get('likes_count') %></a></li>
                <li><a href="javascript:void(0)" class="js-show-comments text-muted"><i class="fa fa-comment"></i> <%= story.get('comments_count') %></a></li>
                <!-- <li><a href="javascript:void(0)" class="js-share text-muted"><i class="fa fa-refresh"></i> 10</a></li> -->
                <li class="pull-right"><p class="text-muted"><%= $.timeago(model.get('created_at')) %></p></li>
            </ul>
            <% if (story.get('likes_count') > 0) { %>
                <div class="guide-footer">
                    <span class="js-show-likes cursor-pointer">
                        <% if (story.get('likes_count') == 1) { %>
                            View 1 like
                        <% } else { %>
                            View <%= story.get('likes_count') %> likes
                        <% } %>
                    </span>  
                </div>
            <% } %>
        </div>
    </div>
</div>
