<!-- TODO: Split public and private profiles -->

<% if (model.id != Vacaybug.current_user.get('id')) { %>
    <div class="cover profile">
        <div class="wrapper">
            <div class="image">
                <img src="/assets/profile-cover.png" alt="people" class="img-responsive">
            </div>
        </div>
        <div class="cover-info">
            <div class="avatar">
                <img src="<%= model.avatar.medium %>" alt="people">
            </div>
            <div class="name">
                <a href="#"><%= model.full_name %></a>
            </div>
            <% if (model.follows) { %>
                <a href="javascript:void(0)" class="btn btn-danger cover-follow pull-right js-unfollow">Unfollow</a>
            <% } else { %>
                <a href="javascript:void(0)" class="btn btn-info cover-follow pull-right js-follow">Follow</a>
            <% } %>
            <ul class="cover-nav nav nav-tabs pull-right" style="left: 650px">
                <li style="border-right-style: none !important">
                    <a href="/users/<%= model.username %>/follower"><%= model.followers_count %> Followers</a>
                </li>
                <li style="border-right-style: none !important">
                    <a href="/users/<%= model.username %>/following"><%= model.following_count %> Following</a>
                </li>
            </ul>
            <ul class="cover-nav nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#passport" role="tab" data-toggle="tab"><i class="fa fa-briefcase"></i> Passport</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="tab-content">
            <div class="tab-pane fade in" id="passport">
                <div class="tab-heading">
                    <i class="fa fa-briefcase"></i> My Passport - I've Been to...
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="margin-none">Taiwan</h4>
                                </div>
                                <a href="#">
                                    <img src="/assets/guide/taiwan.jpg" alt="image" class="img-responsive">
                                </a>
                                <div class="panel-detail">
                                    <ul class="icon-list">
                                        <li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a>
                                        </li>
                                        <li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-xs pull-right">read</a>
                                        <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="margin-none">San Francisco</h4>
                                </div>
                                <a href="#">
                                    <img src="/assets/guide/sanfrancisco.jpg" alt="image" class="img-responsive">
                                </a>
                                <div class="panel-detail">
                                    <ul class="icon-list">
                                        <li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a>
                                        </li>
                                        <li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-xs pull-right">read</a>
                                        <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="margin-none">Rome</h4>
                                </div>
                                <a href="#">
                                    <img src="/assets/guide/rome.jpg" alt="image" class="img-responsive">
                                </a>
                                <div class="panel-detail">
                                    <ul class="icon-list">
                                        <li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a>
                                        </li>
                                        <li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-xs pull-right">read</a>
                                        <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <!-- Private profile -->
    <div class="cover profile">
        <div class="wrapper">
            <div class="image">
                <img src="/assets/profile-cover.png" alt="people" class="img-responsive">
            </div>
        </div>
        <div class="cover-info">
            <div class="avatar">
                <img src="<%= model.avatar.medium %>" alt="people">
            </div>
            <div class="name">
                <a href="#"><%= model.full_name %></a>
            </div>
            <ul class="cover-nav nav nav-tabs" role="tablist">
                <li class="<%= activeTab == 'passport' ? 'active' : '' %> js-tab" data-tab='passport'>
                    <a href="#passport" role="tab" data-toggle="tab"><i class="fa fa-briefcase"></i> Passport</a>
                </li>
                <li class="<%= activeTab == 'wishlist' ? 'active' : '' %> js-tab" data-tab='wishlist'>
                    <a href="#wishlist" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Wishlist</a>
                </li>
                <li class="<%= activeTab == 'about' ? 'active' : '' %> js-tab" data-tab='about'>
                    <a href="#about" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i> About</a>
                </li>
            </ul>
            <ul class="cover-nav nav nav-tabs pull-right" style="left: 650px">
                <li style="border-right-style: none !important">
                    <a href="/users/<%= model.username %>/follower"><%= model.followers_count %> Followers</a>
                </li>
                <li style="border-right-style: none !important">
                    <a href="/users/<%= model.username %>/following"><%= model.following_count %> Following</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="tab-content">
            <div class="tab-pane fade <%= activeTab == 'passport' ? 'active in' : '' %> in" id="passport">
                <div class="tab-heading">
                    <i class="fa fa-briefcase"></i> My Passport - I've Been to...
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="margin-none">Taiwan</h4>
                                </div>
                                <a href="#">
                                    <img src="/assets/guide/taiwan.jpg" alt="image" class="img-responsive">
                                </a>
                                <div class="panel-detail">
                                    <ul class="icon-list">
                                        <li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a>
                                        </li>
                                        <li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-xs pull-right">read</a>
                                        <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane <%= activeTab == 'wishlist' ? 'active in' : ''%> fade" id="wishlist">
                <div class="tab-heading">
                    <i class="fa fa-globe"></i> My Wishlist - I Want to Go...
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="margin-none">Santorini</h4>
                                </div>
                                <a href="#">
                                    <img src="/assets/guide/santorini.jpg" alt="image" class="img-responsive">
                                </a>
                                <div class="panel-detail">
                                    <ul class="icon-list">
                                        <li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a>
                                        </li>
                                        <li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
                                    <div>
                                        <a href="#" class="btn btn-primary btn-xs pull-right">read</a>
                                        <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane <%= activeTab == 'about' ? 'active in' : '' %> fade" id="about">
                <div class="tab-heading">
                    <i class="fa fa-info-circle"></i> About Me
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="pull-left">Personal Information</h4>
                            <div style="position: relative; top: 12px; left: 10px">
                                <% if (editMode == false) { %>
                                    <a class="js-edit" href="javascript:void(0)" style="color:black"><i class="fa fa-edit"></i> Edit</a>
                                <% } else { %>
                                    <span class="js-saving hide"><i class="fa fa-spinner fa-spin"></i> Saving</span>
                                    <a class="js-save" href="javascript:void(0)" style="color:black"><i class="fa fa-check"></i> Save</a>
                                    <a class="js-cancel" href="javascript:void(0)" style="color:black"><i class="fa fa-times"></i> Cancel</a>
                                <% } %>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="list-unstyled profile-about">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Username:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-8"><input class="profile-field" data-field="username" placeholder="Username" value="<%= model.username %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-8"><%= model.username %></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">First name:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-8"><input class="profile-field" data-field="first_name" placeholder="First name" value="<%= model.first_name %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-8"><%= model.first_name %></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Last name:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-8"><input class="profile-field" data-field="last_name" placeholder="Last name" value="<%= model.last_name %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-8"><%= model.last_name %></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Email:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-8"><input class="profile-field" data-field="email" placeholder="Email" value="<%= model.email %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-8"><%= model.email %></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Birth Date:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-8"><input class="profile-field input-birthday" data-field="birth_date" placeholder="Birth Date"></div>
                                        <% } else { %>
                                            <div class="col-sm-8"><%= birth_date %></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Birth Year:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-8"><input class="profile-field" data-field="birth_year" placeholder="Birth Year" value="<%= birth_year %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-8"><%= birth_year %></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Photo:</span></div>
                                        <div class="avatar">
                                            <img src="<%= model.avatar.medium %>" class="img-circle" width="100px" height="100px">
                                        </div>
                                        <% if (editMode) { %>
                                            <input id="fileupload" type="file" name="file" class="hide" multiple>
                                            <label for="fileupload" class="col-sm-offset-4 btn btn-default js-select" style="margin-top: 5px;">
                                                Select
                                            </label>
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>Travel Information</h4>
                            <ul class="list-unstyled profile-about">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted">Lives</span>
                                        </div>
                                        <div class="col-sm-8">San Francisco, California</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted"># Countries Visited:</span>
                                        </div>
                                        <div class="col-sm-8">12</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted"># Cities Visit:</span>
                                        </div>
                                        <div class="col-sm-8">50</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4"><span class="text-muted"># Guides: </span>
                                        </div>
                                        <div class="col-sm-8">10</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
<% } %>
