<div class="container">
    <div class="cover profile">
        <div class="map-container"></div>
        <div class="cover-info">
            <div class="avatar">
                <img src="<%= model.avatar.medium %>" alt="people" class="img-responsive">
                <% if (isPrivate) { %>
                    <span class="text-content js-change-photo"><label for="fileupload">Change Photo</label></span>
                <% } %>
            </div>
            <div class="name">
                <a href="#"><%= model.full_name %></a>
            </div>
            <ul class="cover-nav nav nav-tabs" role="tablist">
                <li class="<%= activeTab == 'passport' ? 'active' : '' %> js-tab" data-tab='passport'>
                    <a href="#passport" role="tab" data-toggle="tab"><i class="fa fa-briefcase"></i> Passport</a>
                </li>
                <% if (isPrivate) { %>
                    <li class="<%= activeTab == 'wishlist' ? 'active' : '' %> js-tab" data-tab='wishlist'>
                        <a href="#wishlist" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> Wishlist</a>
                    </li>
                    <li class="<%= activeTab == 'about' ? 'active' : '' %> js-tab" data-tab='about'>
                        <a href="#about" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i> About</a>
                    </li>
                <% } %>
            </ul>
            <% if (!isPrivate && Vacaybug.current_user.id != 0) { %>
                <% if (model.follows) { %>
                    <a href="javascript:void(0)" class="btn btn-danger js-unfollow">Unfollow</a>
                <% } else { %>
                    <a href="javascript:void(0)" class="btn btn-info js-follow">Follow</a>
                <% } %>
            <% } %>
            <% if (!isPrivate && model.followers_count == 0) { %>
                <p class="follow-tab">0 Follower</p>
            <% } else { %>
                <a href="/<%= model.username %>/followers" class="follow-tab"><%= model.followers_count %> Followers</a>
            <% } %>
            <% if (!isPrivate && model.following_count == 0) { %>
                <p class="follow-tab">0 Following</p>
            <% } else { %>
                <a href="/<%= model.username %>/following" class="follow-tab"><%= model.following_count %> Following</a>
            <% } %>
        </div>
    </div>
    <div class="panel">
        <div class="tab-content">
            <div class="tab-pane fade <%= activeTab == 'passport' ? 'active in' : '' %> in" id="passport">
                <div class="tab-heading">
                    <i class="fa fa-briefcase"></i> Public Passport
                    <!-- Only appears when less than 400px -->
                    <div class="profile-share-responsive">
                        <a href="https://twitter.com/intent/tweet?text=Check out where I have been lately <%= location.protocol + "//" + location.host + "/" + model.username %>" class="js-share-twitter btn btn-share"><i class="fa fa fa-twitter"></i></a>
                        <a href="#" class="js-share-facebook btn btn-share"><i class="fa fa-facebook-square"></i></a>
                    </div>
                    <!-- End -->
                    <div class="profile-share">
                        <a href="https://twitter.com/intent/tweet?text=Check out where I have been lately <%= location.protocol + "//" + location.host + "/" + model.username %>" class="js-share-twitter btn btn-share"><i class="fa fa fa-twitter"></i>&nbsp;Share</a>
                        <a href="#" class="js-share-facebook btn btn-share"><i class="fa fa-facebook-square"></i>&nbsp;Share</a>
                    </div>
                </div>
                <div class="panel-body passport">
                </div>
            </div>
            <div class="tab-pane <%= activeTab == 'wishlist' ? 'active in' : ''%> fade" id="wishlist">
                <div class="tab-heading">
                    <i class="fa fa-list"></i> Private Wishlist
                </div>
                <div class="panel-body wishlist">
                </div>
            </div>
            <div class="tab-pane <%= activeTab == 'about' ? 'active in' : '' %> fade" id="about">
                <div class="tab-heading">
                    <i class="fa fa-info-circle"></i> About
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="pull-left">About me</h4>
                            <div class="profile-edit">
                                <% if (editMode == false) { %>
                                    <a class="js-edit" href="javascript:void(0)"><i class="fa fa-edit"></i> Edit</a>
                                <% } else { %>
                                    <span class="js-saving hide"><i class="fa fa-spinner fa-spin"></i> Saving</span>
                                    <a class="js-save" href="javascript:void(0)"><i class="fa fa-check"></i> Save</a>
                                    <a class="js-cancel" href="javascript:void(0)"><i class="fa fa-times"></i> Cancel</a>
                                <% } %>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="list-unstyled profile-about">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted profile-label" data-field="first_name">First name:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-6"><input class="profile-field" data-field="first_name" placeholder="First name" value="<%= model.first_name %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-6"><p class="profile-about-content"><%= model.first_name %></p></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted profile-label" data-field="last_name">Last name:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-6"><input class="profile-field" data-field="last_name" placeholder="Last name" value="<%= model.last_name %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-6"><p class="profile-about-content"><%= model.last_name %></p></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted profile-label" data-field="username">Username:</span>
                                        </div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-6"><input class="profile-field" data-field="username" placeholder="Username" value="<%= model.username %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-6"><p class="profile-about-content"><%= model.username %></p></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted profile-label" data-field="birthday">Birthday:</span></div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-6"><input class="profile-field input-birthday" data-field="birthday" placeholder="Birthday"></div>
                                        <% } else { %>
                                            <div class="col-sm-6"><p class="profile-about-content"><%= birthday %></p></div>
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="pull-left">Travel Information</h4>
                            <div class="clearfix"></div>
                            <ul class="list-unstyled profile-about">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted">Currently Located:</span></div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-6"><input class="profile-field input-location" data-field="location" placeholder="Where do you live?" value="<%= model.location %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-6"><p class="profile-about-content"><%= model.location %></p></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted">Originally From:</span></div>
                                        <% if (editMode) { %>
                                            <div class="col-sm-6"><input class="profile-field input-location" data-field="location" placeholder="Where are you from?" value="<%= model.location %>"></div>
                                        <% } else { %>
                                            <div class="col-sm-6"><p class="profile-about-content"><%= model.location %></p></div>
                                        <% } %>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted">Number of Countries Visited:</span>
                                        </div>
                                        <div class="col-sm-6"><p class="profile-about-content"><%= model.visited_countries_count %></p></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted">Number of Cities Visit:</span>
                                        </div>
                                        <div class="col-sm-6"><p class="profile-about-content"><%= model.visited_cities_count %></p></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6"><span class="text-muted">Number of Guides Created: </span>
                                        </div>
                                        <div class="col-sm-6"><p class="profile-about-content"><%= model.guides_count %></p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="modal fade" id="guideModal" tabindex="-1" role="dialog" aria-labelledby="guideModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Where are you going?</h4>
                </div>
                <div class="modal-body">
                    <img width="20" class="typeahead-spinner hidden" src="/assets/spinner.gif"
                        style="float: left; position: absolute; top: 36px; left: 5px;">
                    <input type="text" class="form-control js-modal-city" name="city" placeholder="Type in a city name" />
                    <hr>
                    <h5>Trip Type</h5>
                    <div class="btn-group btn-group-justified btn-trip-type" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="trip-type-choice active btn btn-success" value="passport"><span>Public</span><br/>-Your Passport-</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="trip-type-choice btn btn-success" value="wishlist"><span>Private</span><br/>-Your Wishlist-</button>
                        </div>
                    </div>
                    <hr>
                    <h5>Trip Description</h5>
                    <textarea rows="4" maxlength="230" class="form-control trip-description" placeholder="Tell us more about the trip...(max 230 characters)"></textarea>
                    <hr>
                    <button type="button" class="btn btn-cancel js-close" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-continue js-continue" disabled="disabled">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>